body{
    background-color: lavender;
    margin-left: 280px;
}

header{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 175px;
    width: 75%;
    background-color: skyblue;
    /* margin-left: 175px;
    margin-right: 70px; */
}

img{
    height: 175px;
}