body{
    background-color: lavender;
    margin-left: 280px;
    font-family: monospace;
}

header{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 175px;
    width: 75%;
    background-color: skyblue;
    font-family: monospace;
}

img{
    height: 175px;
}